<h1><%= @pet.name %></h1>

<% if @pet.photo.attached? %>
    <%= cl_image_tag @pet.photo.key, width: 400 %>
<% end %>

<ul>
  <li>Species: <%= @pet.species %></li>
  <li>Age: <%= @pet.age %></li>
  <li>Breed: <%= @pet.breed %></li>
  <li>Color: <%= @pet.color %></li>
  <li>Sex: <%= @pet.sex %></li>
  <li>Weight: <%= @pet.weight %> lbs.</li>
  <% if @pet.kid_friendly %>
    <li>Kid Friendly</li>
  <% end %>
  <% if @pet.solo_pet %>
    <li>Needs to be only pet in home</li>
  <% end %>
</ul>

<p><%= @pet.description %></p>
<% if current_user&.admin %>
  <p>
    <%= link_to "Edit pet", edit_pet_path(@pet) %>
  </p>
<% end %>
<% if current_user %>
  <%= link_to "Schedule an appointment", new_pet_appointment_path(@pet) %>
<% end %>
