<h1><%= @user.full_name %></h1>
<p>email: <%= @user.email %></p>

<% if @user.appointments.upcoming.any? %>
  <h3>Upcoming Appointments:</h3>
  <ul>
    <% @user.appointments.upcoming.each do |appointment| %>
      <li>
        <%= link_to appointment.pet.name, pet_appointment_path(appointment.pet, appointment) %>
        at <%= appointment.start.strftime('%H:%M on %A, %B %-d, %Y') %> 
      </li>
    <% end %>
  </ul>
<% else %>
  <h3>No appointments scheduled</h3>
<% end %>

<% if @user.pets.any? %>
  <h3>Pets you've show interest in: </h3>
  <ul>
    <% @user.pets.each do |pet| %>
      <li><%= link_to pet.name, pet_path(pet) %></li>
    <% end %>
  </ul>
<% end %>
