    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <%= link_to "Pet Rescue", root_path, class:"navbar-brand" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <%= link_to "Pets", pets_path, class:"nav-link" %>
            </li>
            <li class="dropdown nav-item">
              <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">By Species<span class="caret"></span></a>
              <ul class="dropdown-menu">
            <% Pet.distinct.pluck(:species).each do |species| %>
              <li>
                <%= link_to species.pluralize, species_index_path(species.downcase.pluralize), class:"nav-link" %>
              </li>
            <% end %>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <% if current_user %>
           <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= current_user.full_name %>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "Appointments", user_path(current_user), class:"nav-link" %>
              <%= link_to "Account Settings", edit_user_registration_path, class:"nav-link" %>
              <% if current_user.admin %>
                <%= link_to "New Pet", new_pet_path, class:"nav-link" %>
              <% end %>
              <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"nav-link", id:"logout" %>
                </div>
            <% else %>
            <li class="nav-item">
                <%= link_to "Create Account", new_user_registration_path, class:"nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class:"nav-link" %>
            </li>
            <% end %>
          </ul>
        </div>
      </nav>
